// styles
.game_section {
  background-image: url("assets/img_background/game_background_1.webp");
  background-size: cover;
  min-height: 1200px;
  height: 100vh;
  width: 100vw;
  padding-top: 80px;
}

.options {
  color: white;
}

.avatar_option {
  cursor: pointer;
}

.avatar_option:hover {
  filter: brightness(0.8);
}

.game_button {
  background-color: rgba(240, 240, 240, 0.75);
  border: 1px solid white;
  border-radius: 16px;
  color: black;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
  padding: 10px 22px;
  transition: all 0.2s;
  user-select: none;
  touch-action: manipulation;
}

.game_button:active,
.game_button:hover {
  outline: 0;
}

.game_button:hover {
  background-color: white;
  border-color: black;
}

.game_button_small {
  background-color: rgba(240, 240, 240, 0.75);
  border: 1px solid white;
  border-radius: 16px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  transition: all 0.2s;
  user-select: none;
  touch-action: manipulation;
  width: 150px;
}

.game_button_small:active,
.game_button:hover {
  outline: 0;
}

.game_button_small:hover {
  background-color: white;
  border-color: black;
}

.progress_bar_container {
  width: 100px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.player {
  color: white;
}

.player_avatar {
  border: 1px solid black;
  border-radius: 5px;
}

.experience_progress_bar {
  padding-top: 10px;
  background-color: green;
  border-radius: 5px 0 0 5px;
}

.item_options_container {
  display: inline-flex;
}

.item_option {
  margin: 5px;
}

.relic_option {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
}

.relic_option_img {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.relic_option_img:hover {
  filter: brightness(0.8);
}

.relic_info {
  cursor: pointer;
  position: relative;
  right: 55px;
  bottom: 15px;
  color: white;
}

.relic_info:hover {
  color: blue;
}

.relic1 {
  filter: drop-shadow(0 0 10px lightblue);
}

.relic2 {
  filter: drop-shadow(0 0 15px gold);
}

.relic3 {
  filter: drop-shadow(0 0 15px purple);
}

.creature_option {
  margin: 5px;
}

.summon_option {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
}

.summon_option_img {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.summon_option_img:hover {
  filter: brightness(0.8);
}

.summon_info {
  cursor: pointer;
  position: relative;
  right: 100px;
  bottom: 38px;
  color: white;
}

.summon_info:hover {
  color: blue;
}

.combat_alert {
  margin: 0 auto;
  border: 1px solid orange;
  border-radius: 5px;
  line-height: 39px;
  height: 39px;
  max-width: 250px;
  width: 100%;
}

.creature_panel {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.attack_button {
  margin-bottom: 5px;
}

.player_creature {
  float: left;
  padding: 5px 5px 5px 5px;
  color: white;
}

.enemy_creature {
  float: right;
  padding: 5px;
  color: white;
}

.enemy_creature_img {
  transform: scaleX(-1);
}

//media query
@media screen and (min-width: 1200px) {
  .player_creature {
    margin-left: 450px;
  }

  .enemy_creature {
    margin-right: 450px;
  }
}
