// styles
.game_nav {
  padding-top: 10px;
  height: 67.5px;
  background-image: radial-gradient(circle, #222222, black);
}

.game_nav_brand {
  margin: 0 20px 0 20px;
  float: left;
}

.button_logout {
  float: left;
  background-color: rgba(orange, 0.9);
  border: 1px solid orangered;
  border-radius: 16px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  transition: all 0.2s;
  user-select: none;
  touch-action: manipulation;
}

.button_logout:active,
.button_logout:hover {
  outline: 0;
}

.button_logout:hover {
  background-color: orangered;
  border-color: black;
}

.button_options {
  float: right;
  margin-right: 20px;
}

// game UI and player
.game_section {
  background-image: url("assets/img_background/backgroundHome.webp");
  background-size: cover;
  min-height: 1200px;
  height: 100vh;
  width: 100vw;
  padding-top: 5px;
}

.avatar_option:hover {
  cursor: pointer;
  filter: brightness(0.8);
}

.game_button {
  background-color: rgba(white, 0.75);
  border: 1px solid white;
  border-radius: 16px;
  color: black;
  cursor: pointer;
  font-size: 18px;
  line-height: 28px;
  padding: 10px 22px;
  transition: all 0.2s;
  user-select: none;
  touch-action: manipulation;
}

.game_button:active,
.game_button:hover {
  outline: 0;
}

.game_button:hover {
  background-color: white;
  border-color: black;
}

.game_button_small {
  background-color: rgba(white, 0.75);
  border: 1px solid white;
  border-radius: 16px;
  color: black;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  transition: all 0.2s;
  user-select: none;
  touch-action: manipulation;
}

.game_button_small:active,
.game_button_small:hover {
  outline: 0;
}

.game_button_small:hover {
  background-color: white;
  border-color: black;
}

.progress_bar_container {
  width: 150px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

.player_avatar {
  border: 1px solid black;
  border-radius: 5px;
}

.progress_bar {
  padding-top: 10px;
  background-color: green;
  border-radius: 5px 0 0 5px;
}

.relic_option {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
}

.relic_option_img {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.relic_option_img:hover {
  filter: brightness(0.8);
}

.relic_info {
  cursor: pointer;
  position: relative;
  right: 55px;
  bottom: 15px;
  color: white;
}

.relic_info:hover {
  color: blue;
}

.relic_effect1 {
  filter: drop-shadow(0 0 10px lightblue);
}

.relic_effect2 {
  filter: drop-shadow(0 0 15px gold);
}

.relic_effect3 {
  filter: drop-shadow(0 0 15px purple);
}

.summon_option {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
}

.summon_option_img {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.summon_option_img:hover {
  filter: brightness(0.8);
}

.summon_info {
  cursor: pointer;
  position: relative;
  right: 100px;
  bottom: 38px;
  color: white;
}

.summon_info:hover {
  color: blue;
}

.stage_options {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
}

.combat_alert {
  margin: 0 auto;
  border: 1px solid orange;
  border-radius: 5px;
  line-height: 39px;
  height: 39px;
  max-width: 250px;
  width: 100%;
}

.creature_panel {
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

.attack_button {
  margin: 0px 5px 5px 0px;
}

.special_button {
  margin: 0px 0px 5px 5px;
  border-color: rgba(yellow, 0.75);
  font-size: 14px;
  line-height: 18px;
  padding: 4px 22px;
}

.special_button:hover {
  border-color: rgba(gold, 0.75);
}

// creatures and combat
.player_creature {
  float: left;
  margin-left: 10px;
  padding: 5px;
  color: white;
}

.enemy_creature {
  float: right;
  margin-right: 10px;
  padding: 5px;
  color: white;
}

.enemy_creature_img {
  transform: scaleX(-1);
}

.combat_text {
  color: orange;
  font-size: 18px;
}

.crit_text {
  color: red;
  font-weight: bold;
  font-size: 18px;
}

.heal_combat_text {
  color: lightgreen;
  font-size: 18px;
}

.heal_crit_text {
  color: yellow;
  font-size: 18px;
  font-weight: bold;
}

// alchemy
.recipe_option {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
}

.recipe_option_img {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.alchemy_item_option {
  margin: 0 auto;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 250px;
}

.alchemy_item_option_img {
  margin: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.recipe_info {
  cursor: pointer;
  position: relative;
  right: 100px;
  bottom: 38px;
  color: white;
}

.recipe_info:hover {
  color: blue;
}

.alchemy_item_info {
  cursor: pointer;
  position: relative;
  right: 55px;
  bottom: 15px;
  color: white;
}

.alchemy_item_info:hover {
  color: blue;
}

// animations
.special_effect_container {
  height: 0;
  overflow: visible;
}

.spawn_effect {
  height: 100px;
  border-style: solid;
  border-color: purple;
  border-radius: 50%;
  background: black;
  filter: blur(10px);
  animation: spawnPortal 200ms;

  @keyframes spawnPortal {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
}

.special_effect1 {
  position: relative;
  bottom: 75px;
  left: 170px;
  transform: rotateX(-20deg) rotateY(20deg) translateX(200px) scaleX(2)
    scaleY(0.89);
  animation: soulHarvest 750ms infinite linear;
  width: 30px;
  height: 5px;
  background: linear-gradient(
    to left,
    rgb(255, 0, 0) 0%,
    rgb(183, 0, 255) 33%,
    rgba(255, 118, 43, 0) 100%
  );
  box-shadow: 1px 2px 0 red;

  @keyframes soulHarvest {
    50% {
      transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
    }
  }
}

.special_effect2 {
  position: relative;
  bottom: 77px;
  left: 370px;
  transform: translateX(-200px) scaleX(2) scaleY(0.89);
  animation: starePetrify 750ms infinite linear;
  width: 80px;
  height: 3px;
  background: linear-gradient(
    to left,
    rgb(0, 195, 255) 0%,
    rgb(0, 132, 255) 33%,
    rgba(255, 118, 43, 0) 100%
  );
  box-shadow: 1px 2px 0 lightblue;

  @keyframes starePetrify {
    50% {
      transform: rotateY(180deg) translateX(-20px) scaleX(1);
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: rotateY(180deg) translateX(-20px) scaleX(1);
    }
  }
}

.special_effect3 {
  position: relative;
  bottom: 90px;
  left: 400px;
  transform: rotateX(-20deg) rotateY(20deg) translateX(-200px) scaleX(2)
    scaleY(0.89);
  animation: castFireball 400ms infinite linear;
  width: 30px;
  height: 5px;
  background: linear-gradient(
    to left,
    rgb(255, 0, 0) 0%,
    rgb(255, 200, 0) 33%,
    rgba(255, 118, 43, 0) 100%
  );
  box-shadow: 1px 2px 0 red;

  @keyframes castFireball {
    50% {
      transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
    }
  }
}

.special_effect4 {
  position: relative;
  bottom: 70px;
  left: 400px;
  transform: rotateY(20deg) translateX(-200px) scaleX(2) scaleY(0.89);
  animation: injectPoison 400ms infinite linear;
  width: 30px;
  height: 5px;
  background: linear-gradient(
    to left,
    rgba(51, 255, 0, 0.541) 0%,
    rgb(0, 255, 42) 33%,
    rgba(43, 255, 220, 0) 100%
  );
  box-shadow: 1px 2px 0 green;

  @keyframes injectPoison {
    50% {
      transform: rotateY(20deg) translateX(-20px) scaleX(1);
    }
    75% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: rotateX(-20deg) rotateY(20deg) translateX(-20px) scaleX(1);
    }
  }
}

.special_effect5 {
  position: relative;
  bottom: 128px;
  height: 100px;
  border-radius: 50%;
  background: lightblue;
  filter: blur(100px);
  animation: iceCloak 375ms;

  @keyframes iceCloak {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }
}

.special_effect6 {
  position: relative;
  bottom: 128px;
  height: 100px;
  border-radius: 50%;
  background: lightgreen;
  filter: blur(100px);
  animation: nukeCloak 375ms;

  @keyframes nukeCloak {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }
}

.special_effect7 {
  position: relative;
  bottom: 128px;
  height: 100px;
  border-radius: 50%;
  background: darkblue;
  filter: blur(100px);
  animation: electroCloak 375ms;

  @keyframes electroCloak {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.5);
    }
  }
}

.special_effect8 {
  position: relative;
  bottom: 75px;
  left: 195px;
  transform: rotateX(-20deg) rotateY(20deg) translateX(200px) scaleX(2)
    scaleY(0.89);
  animation: quantumEntangle 750ms infinite linear;
  border-radius: 25px;
  width: 10px;
  height: 10px;
  background: linear-gradient(
    to top,
    rgb(0, 153, 255) 0%,
    rgb(55, 0, 255) 33%,
    rgb(0, 0, 0) 100%
  );
  @keyframes quantumEntangle {
    50% {
      transform: rotateX(180deg);
    }
    100% {
      transform: rotateX(-180deg) translateX(-20px);
    }
  }
}

// media query
@media screen and (min-width: 2000px) {
  .player_creature {
    margin-left: 450px;
  }

  .enemy_creature {
    margin-right: 450px;
  }
}
