/* styles */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: "Helvetica Neue, Helvetica";
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
}

:root {
  background: black;
}

.inline_flex {
  display: inline-flex;
}

.margin_small {
  margin: 5px;
}

.font_small {
  font-size: 8px;
}

.font_large {
  font-size: 40px;
}

.color_white {
  color: white;
}
